@import './googleColorToken.scss';

$color__vue : #41b883 !default;
$primary__color: $color__indigo-600 !default;
$second__color: $color__indigo-400 !default;
$third__color: $color__indigo-200 !default;
$fourth__color: $color__indigo-50 !default;

$frame-head__height: 48px !default;
$font__color-default: #eee !default;
$font__size-default: 12px !default;

$component__default-border-width: 1px !default;
$component__default-border-radius: 4px !default;
$component__default-height: 24px !default;
$component__default-min-width: 60px !default;
$component__default-padding: 0 4px !default;

// [toy-button]
$toy-button__min-width: $component__default-min-width;
$toy-button__height: $component__default-height;
$toy-button__background-color: $color__white;
$toy-button__border-width: $component__default-border-width;
$toy-button__border-radius: $component__default-border-radius;